IMPORTING AND SETTING UP DATASET FOR PRE-PROCESSING

In [1]:
import os
os.environ['KAGGLE_USERNAME']='aashigupta11'
os.environ['KAGGLE_KEY']='fde2991025b1cb38f24d3ee3a1de7eaf'

In [2]:
%pip install kagglehub numpy pandas

Requirement already satisfied: kagglehub in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (0.3.12)
Requirement already satisfied: numpy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.2.6)
Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: packaging in c:\users\dell\appdata\roaming\python\python312\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2025.4.26)
Requirement already satisfied: colorama in c:\users\dell\appdata\roaming\python\python312\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import kagglehub
import numpy as np
import pandas as pd

c:\Users\Dell\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
path=kagglehub.dataset_download("dolbokostya/molecccls")
print(path)

C:\Users\Dell\.cache\kagglehub\datasets\dolbokostya\molecccls\versions\1

In [5]:
dataset_path=path

In [6]:
csv_file=os.path.join(dataset_path,".csv")

In [7]:
df=pd.read_csv(csv_file)

In [8]:
df.head()

   id              smiles   lgK
0   0      CC(C)(O)C(=O)O  3.41
1   1    CCC(O)(CC)C(=O)O  3.25
2   2    O=C(O)C1(O)CCCC1  3.22
3   3   O=C(O)C1(O)CCCCC1  2.78
4   4  O=C(O)C(O)c1ccccc1  2.82

Q1- CHECKING IF DATA IS RAW OR PROCESSED?

In [9]:
df.duplicated().value_counts()  # This counts duplicates if any, No duplicates found

False    247
Name: count, dtype: int64

In [10]:
df.isnull().value_counts()    # Counts null values of any, None found

id     smiles  lgK
False  False   False    247
Name: count, dtype: int64

In [11]:
print(df.describe(include='all'))    
# We found 247 rows but 235 unique smile notations- therefore duplicacy, but couldn't detect earlier due to unique ids.

                id                                smiles         lgK
count   247.000000                                   247  247.000000
unique         NaN                                   235         NaN
top            NaN  O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCCOCC1         NaN
freq           NaN                                     4         NaN
mean    124.178138                                   NaN    8.644765
std      72.185009                                   NaN    6.141239
min       0.000000                                   NaN    0.990000
25%      62.500000                                   NaN    3.940000
50%     124.000000                                   NaN    6.800000
75%     186.500000                                   NaN   10.860000
max     248.000000                                   NaN   29.300000

In [12]:
df[df.duplicated(subset='smiles', keep=False)]

      id                                             smiles    lgK
68    69               O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCCOCC1  10.84
69    70                        O=C(O)CN1CCOCCOCCNCCOCCOCC1   6.01
70    71                  O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCC1  10.33
112  113                  O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCC1  10.33
113  114               O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCCOCC1  10.84
114  115                        O=C(O)CN1CCOCCOCCNCCOCCOCC1   6.01
144  146                  O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCC1  10.33
145  147               O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCCOCC1  10.84
153  155                        O=C(O)CN(CC(=O)O)Cc1ccccc1O  14.87
160  162                  O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCC1  10.33
161  163               O=C(O)CN1CCOCCOCCN(CC(=O)O)CCOCCOCC1  10.84
163  165                        O=C(O)CN1CCOCCOCCNCCOCCOCC1   6.01
172  174                 CCN(CC)C(=O)c1cccc(C(=O)N(CC)CC)n1   8.10
173  175  O=C(c1cccc(C(=O)N(Cc2ccccc2)Cc2ccccc2)n1)N(Cc1...   5.30
174  176     CC(C)N(C(=O)c1cccc(C(=O)N(C(C)C)C(C)C)n1)C(C)C   7.60
176  178                        O=C(O)CN(CC(=O)O)Cc1ccccc1O  14.05
184  186  O=C(c1cccc(C(=O)N(Cc2ccccc2)Cc2ccccc2)n1)N(Cc1...   5.30
185  187                 CCN(CC)C(=O)c1cccc(C(=O)N(CC)CC)n1   8.10
186  188     CC(C)N(C(=O)c1cccc(C(=O)N(C(C)C)C(C)C)n1)C(C)C   7.60

A1- Thus, the data is unprocessed or raw.

Q2- Are there any duplicate entries? If yes, then what to do?

A2- Yes, we remove those entries whose smile notation and log k values, both are same

In [13]:
df_clean = df.drop_duplicates(subset=['smiles', 'lgK']).reset_index(drop=True)  #duplicates removed.

In [14]:
df_clean[df_clean.duplicated(subset='smiles', keep=False)] #these are probably isomers of same molecule- so we keep them.

      id                       smiles    lgK
148  155  O=C(O)CN(CC(=O)O)Cc1ccccc1O  14.87
168  178  O=C(O)CN(CC(=O)O)Cc1ccccc1O  14.05

Q3- Are there any missing entries? If yes, then what to do?

In [15]:
df.isnull().sum()

id        0
smiles    0
lgK       0
dtype: int64

A3- no missing values- if there were, we would have removed them.

Q4- Is the data inconsistent somewhere?- Yes, there were, and were removed.

In [16]:
df.info() # original data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      247 non-null    int64
 1   smiles  247 non-null    object
 2   lgK     247 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 5.9+ KB

In [17]:
df_clean.info() # cleaned data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      236 non-null    int64
 1   smiles  236 non-null    object
 2   lgK     236 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 5.7+ KB